<div class="row sticky-top" style="top: 80px">
    <div class="col">
        <div class="profile-panel">
            <div class="profile-panel-body">
                <div class="row">
                    <div class="col">
                        {% if site.data.profile.portrait_url %}
                        <!-- When the screen is wider than md, float the portrait on the right -->
                        <div class="figure profile-portrait-wrap d-none d-md-block">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="profile-portrait"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}">
                        </div>
                        <div class="mb-3 d-md-none text-center">
                            <img src="{{ site.data.profile.portrait_url | relative_url }}" class="profile-portrait profile-portrait-mobile" alt="Portrait of {{ site.data.profile.primary_name }}">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center h4">
                        {{ site.data.profile.primary_name }}
                    </div>
                </div>

                <div class="row profile-position">
                    <div class="col text-center">
                        {% for position in site.data.profile.positions %}
                        {{ position.name }}<br/>
                        {% endfor %}
                    </div>
                </div>

                <div class="row profile-email-row">
                    <div class="col text-center">
                        <a class="email-text" href="mailto:{{ site.data.profile.email | encode_email }}">
                            {{ site.data.profile.email | replace: "@", "(at)" }}
                        </a>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col text-center profile-socials">
                        {% if site.data.profile.gscholar %}
                        {%- if site.data.profile.gscholar contains 'scholar.google' -%}
                        {%- assign gscholar_url = site.data.profile.gscholar -%}
                        {%- else -%}
                        {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" href="{{ gscholar_url }}">
                            <i class="fab fa-google-scholar"></i>
                        </a>
                        {% endif %}
                        
                        {% if site.data.profile.github %}
                        <a class="px-1 no-break" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                            <i class="fab fa-github"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.twitter %}
                        <a class="px-1 no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.linkedin %}
                        <a class="px-1 no-break" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.orcid %}
                        <a class="px-1 no-break" target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">
                            <i class="fab fa-orcid"></i>
                        </a>
                        {% endif %}
                        {% if site.data.profile.cv_link %}
                        <a class="px-1 no-break" href="{{ site.data.profile.cv_link | relative_url }}" title="Curriculum Vitae">
                            <i class="fas fa-file-lines"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
