{% assign item = include.item %}
<article class="publication-entry {% unless include.hide_bottom_border %}with-divider{% endunless %}">
    <div class="publication-year">{{ item.pub_date }}</div>
    <div class="publication-content">
        <h3>{{ item.title }}</h3>
        <p class="publication-authors">{% include widgets/author_list.html authors=item.authors %}</p>
        <p class="publication-venue"><i>{{ item.pub }}</i>{% if item.pub_date %}, {{ item.pub_date }}{% endif %} {{ item.pub_last }}</p>
        {% if item.abstract %}<p class="publication-abstract">{{ item.abstract }}</p>{% endif %}
        {% if item.links %}
        <div class="publication-links">
            {% for link in item.links %}
            {% if link[1].url %}
            <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">{{ link[0] }}</a>
            {% else %}
            <a target="_blank" rel="noopener" href="{{ link[1] }}">{{ link[0] }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</article>
