{% assign publications = include.publications %}
<section class="academic-section publication-section">
    <div class="section-heading-row">
        <h2 class="section-heading">Selected Publications</h2>
        <a class="text-link" href="{{ '/publications.html' | relative_url }}">View all <i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="publication-list">
        {% for item in publications limit:include.limit %}
            {% include widgets/publication_item.html item=item %}
        {% endfor %}
    </div>
</section>
